article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #141414 !important;
}

body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #ededed;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #ededed;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #5d5050;
	--color-info: #5d5050;
	--color-menu: #fff;
	--color-menu-hover: #fff;
	--color-title: #fff;
	--color-subtitle: #ededed;
	--color-deco: #161616;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--reveal {
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github info';
}

.content--fixed a {
	pointer-events: auto;
}

.content__inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/* height: 50%; */
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: end;
}

.js .content__inner {
	display: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.content__title {
	margin: 60px 0 30px;
	font-size: 47px;
	color: var(--color-title);
	letter-spacing: -0.05em;
	text-indent: -0.05em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.content__subtitle  {
	max-width: 300px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 400;
	margin: 0;
	color: var(--color-subtitle);
}

.content__close {
	position: absolute;
	top: 55%;
	left: 50%;
	background: none;
	color: var(--color-link);
	border: 1px solid;
	padding: 0;
	display: block;
	margin: 0 0 0 -2em;
	width: 4em;
	height: 4em;
	font-size: 1.25em;
	border-radius: 50%;
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.3s;
}

.content__close:focus {
	outline: none;
}

.content__close:hover {
	background: var(--color-bg);
	border-color: var(--color-bg);
}

.deco-title {
	font-size: 50vw;
	margin: 0;
	pointer-events: none;
	position: absolute;
	color: var(--color-deco);
}

/* Scene */
.scene {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	//pointer-events: none;
	z-index: 1;
}

.scene .blob-1 path {
	fill: url(#gradient-4);
}

.scene .blob-2 path {
	fill: url(#gradient-2);
}

.scene .blob-3 path {
	fill: url(#gradient-2);
}

.scene .blob-4 path {
	fill: url(#gradient-4);
}

.scene .blob-5 path {
	fill: url(#gradient-2);
}

.scene .blob-6 path {
	fill: url(#gradient-4);
}

.scene .blob-7 path, .scene .blob-8 path, .scene .blob-9 path, .scene .blob-10 path, .scene .blob-11 path,
.scene .blob-12 path, .scene .blob-13 path, .scene .blob-14 path, .scene .blob-15 path, .scene .blob-16 path, .scene .blob-17 path,
.scene .blob-18 path, .scene .blob-19 path, .scene .blob-20 path, .scene .blob-21 path, .scene .blob-22 path, .scene .blob-23 path,
.scene .blob-24 path, .scene .blob-25 path, .scene .blob-26 path, .scene .blob-27 path, .scene .blob-28 path {
	fill: url(#gradient-2);
}

.scene path:first-of-type {
	fill-opacity: 0.1;
}

.scene path:nth-of-type(2) {
	fill-opacity: 0.2;
}

.scene path:nth-of-type(3) {
	fill-opacity: 0.3;
}

.scene path:nth-of-type(4) {
	fill-opacity: 0.4;
}

.scene path:nth-of-type(5) {
	fill-opacity: 0.5;
}

.scene path:nth-of-type(6) {
	fill-opacity: 0.6;
}

.menu {
	position: relative;
	z-index: 1000;
	display: flex;
	align-items: baseline;
}

.menu__item {
	transition: 0.3s;
	border-radius: 4px;
	color: transparent;
	line-height: 1.25;
	letter-spacing: -0.025em;
	text-indent: -0.025em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	/*display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;*/
	position: relative;
	padding: 0;
}

/*.menu__item:hover {
	background-color: white;
	color: #006cbe;
	/* color: var(--color-menu-hover); */
/*}
*/

.menu__item .text-menu {
	color: #006cbe;
    background-color: white;
    display: none;
    padding: 3px 7px;
    border-radius: 4px;
    position: absolute;
	top: -23px;
    left: -20px;
	transition: 0.3s;
	z-index: 2;
}

.menu__item:hover .text-menu {
	display: flex;
}

.menu__item::before {
	content: '';
	width: 60%;
	height: 25px;
	background: linear-gradient(45deg, #f19872, #e86c9a);
	position: absolute;
	bottom: 0;
	transform-origin: 0 0;
	transform: scale3d(0,1,1);
}

.menu__item:hover:after {
	display: initial;
}

.menu__item.second-point::before {
	background: linear-gradient(45deg, #0947db, #07d89d);
}

.menu__item.third-point::before {
	background: linear-gradient(45deg, #ee2d29, #f8ae2c);
}

.menu__item.four-point::before {
	background: linear-gradient(45deg, #3a3d98, #6f22b9);
}

.menu__item.five-point::before {
	background: linear-gradient(45deg, #9d316e, #de2d3e);
}

.menu__item.six-point::before {
	background: linear-gradient(45deg, #00ac53, #23c3e0);
}

.menu__item.seven-point::before {
	background: linear-gradient(45deg, #0947db, #07d89d);
}

.menu__item.eight-point::before {
	background: linear-gradient(45deg, #0947db, #de2d3e);
}

.menu__item.nine-point::before {
	background: linear-gradient(45deg, #0947db, #6f22b9);
}

.menu__item.ten-point::before {
	background: linear-gradient(45deg, #0947db, #f8ae2c);
}

.menu__item.eleven-point::before {
	background: linear-gradient(45deg, #0947db, #23c3e0);
}

.menu__item.twelve-point::before {
	background: linear-gradient(45deg, #0947db, #ee2d29);
}

.menu__item.thirteen-point::before {
	background: linear-gradient(45deg, #0947db, #3a3d98);
}

.menu__item.forteen-point::before {
	background: linear-gradient(45deg, #0947db, #9d316e);
}

.menu__item.fiveteen-point::before {
	background: linear-gradient(45deg, #0947db, #00ac53);
}

.menu__item.sixteen-point::before {
	background: linear-gradient(45deg, #00ac53, #07d89d);
}

.menu__item.seventeen-point::before {
	background: linear-gradient(45deg, #9d316e, #07d89d);
}

.menu__item.eighteen-point::before {
	background: linear-gradient(45deg, #ee2d29, #07d89d);
}

.menu__item.nine-point::before {
	background: linear-gradient(45deg, #23c3e0, #07d89d);
}

.menu__item.twenty-point::before {
	background: linear-gradient(45deg, #f8ae2c, #07d89d);
}

.menu__item.twentyone-point::before {
	background: linear-gradient(45deg, #6f22b9, #07d89d);
}

.menu__item.twentytwo-point::before {
	background: linear-gradient(45deg, #de2d3e, #07d89d);
}

.menu__item.twentythree-point::before {
	background: linear-gradient(45deg, #6f22b9, #f8ae2c);
}

.menu__item.twentyfour-point::before {
	background: linear-gradient(45deg, #ee2d29, #6f22b9);
}

.menu__item.twentyfive-point::before {
	background: linear-gradient(45deg, #e86c9a, #07d89d);
}

.menu__item.twentysix-point::before {
	background: linear-gradient(45deg, #e86c9a, #ee2d29);
}

.menu__item.twentyseven-point::before {
	background: linear-gradient(45deg, #23c3e0, #e86c9a);
}

.menu__item.twentyeight-point::before {
	background: linear-gradient(45deg, #07d89d, #f19872);
}
	
.menu__item--showDeco::before {
    transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
    transform: scale3d(1,1,1);
}

/* .menu__item--showDeco:hover::before {
    transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
    transform: scale3d(1.2,1,1);
} */

.menu__item span {
	display: block;
	position: relative;
	min-width: 5px;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 1em;
}

.info {
	margin: 0;
	color: var(--color-info);
	grid-area: info;
	align-self: end;
	justify-self: end;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

/* wserna styles */

#building-img {
	 z-index: 2;
	 transition: 1.9s;
}

.hide-img {
	opacity: 0;
}

.menu {
	position: absolute;
	top: 400px;
}

.menu__item {
	font-size: 13px;
}

.menu__item:after {
	content: "";
	position: absolute;
	top: -1px;
	width: 0;
	height: 0;
	border-right: 9px solid transparent;
	border-top: 8px solid white;
	border-left: 9px solid transparent;
	opacity: 1;
	display: none;
	transition: 0.3s;
}

.menu__item:before {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	bottom: -27px;
}

.first-point {
	top: 120px;
	left: -260px;
}

.second-point {
	top: 45px;
    left: -224px;
}

.third-point {
	left: -150px;
    top: 100px;
}

.four-point {
	pointer-events: auto;
	top: 155px;
    left: -200px;
}

.five-point {
	pointer-events: auto;
	left: -130px;
}

.six-point {
	left: -80px;
    top: 50px;
}

.seven-point {
	left: -70px;
    top: 140px;
}

.eight-point {
	left: -196px;
    top: -30px;
}

.nine-point {
    left: -168px;
    top: 61px;
}

.ten-point {
    left: -300px;
    top: 60px;
}

.eleven-point {
    left: 170px;
    top: 180px;
}

.twelve-point {
	left: 270px;
    top: 130px;
}

.thirteen-point {
    left: -130px;
    top: 170px;
}

.forteen-point {
    left: -80px;
    top: 100px;
}

.fiveteen-point {
	left: -285px;
    top: 170px;
}

.sixteen-point {
    left: 195px;
}

.seventeen-point {
    left: -60px;
}

.eighteen-point {
	left: 70px;
}

.nineteen-point {
    left: 93px;
    top: 60px;
}

.twenty-point {
	left: 250px;
    top: 70px;
}

.twentyone-point {
	left: 300px;
    top: 23px;
}

.twentytwo-point {
	top: 160px;
    left: 225px;
}

.twentythree-point {
	left: 140px;
    top: 120px;
}

.twentyfour-point {
    left: 100px;
    top: 160px;
}

.twentyfive-point {
	left: 200px;
    top: 110px;
}

.twentysix-point {
	left: 160px;
    top: 50px;
}

.twentyseven-point {
	left: 70px;
    top: 110px;
}

.twentyeight-point {
    left: 300px;
    top: 70px;
}

.logo-movilizadores {
	z-index: 99;
    position: relative;
    width: 100%;
}

.cont-movilizadores {
	display: flex;
    justify-content: space-between;
}

.cont-movilizador {
	background-color: black;
    border: 3px solid #00f2ff;
    padding: 20px;
    text-align: center;
	margin: 70px 20px;
	position: relative;
}

.title-movilizador {
	position: absolute;
    right: -3px;
    background-color: transparent;
    padding: 0px 18px;
    top: -38px;
	height: 0px;
    border-left: 36px solid transparent;
    border-bottom: 35px solid #00f2ff;
}

.title-movilizador h1 {
	font-size: 16px;
    color: black;	
}

.cont-hr {
	position: relative;
    margin: 8px 0;
}

hr.right-decoration {
	width: 30px;
    right: 0;
    position: absolute;
    top: -1px;
    margin: 0;
    border: 2px solid #00f2ff;
}

hr.left-decoration {
	left: 0;
	position: absolute;
    top: -1px;
    margin: 0;
    border: 2px solid #00f2ff;
	width: 30px;
}

hr.divider {
	margin-top: 0;
    border-bottom: 0;
    border-top: 1px solid #00f2ff;
}

.menu-direcciones {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0;
	margin: 70px 30px 30px;
}

.menu-direcciones .img-astronauta {
	position: absolute;
    top: -77px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
	display: none;
	transition: 0.6s;
}

.menu-direcciones li.active .img-astronauta {
	display: initial;
}

.menu-direcciones .cont-img-planet {
	width: 50px;
    height: 50px;
    text-align: center;
}

.menu-direcciones .text-planet {
	max-width: 220px;
    text-align: center;
}

.menu-direcciones img {
	width: 45px;
}

.menu-direcciones a {
	padding: 0 !important;
	display: flex !important;
    flex-direction: column;
    align-items: center;
	border: 0 !important;
}

.menu-direcciones.nav-tabs>li {
	margin: 15px;
}

.menu-direcciones.nav-tabs>li>a:hover {
	border:0;
	background: transparent;
	color: white;
}

.menu-direcciones.nav-tabs>li.active>a, 
.menu-direcciones.nav-tabs>li.active>a:focus, 
.menu-direcciones.nav-tabs>li.active>a:hover {
	padding: 0;
	background-color: transparent;
    border: 0;
    color: white;
}

.filtro-building {
	position: absolute;
    z-index: 3;
	top: 10px;
	transition: 0.9s;
    opacity: 0;
}

.particles-js {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: transparent;
	transition: 0.9s;
}

.persona {
	/* position: absolute; */
    width: 200px;
    height: 200px;
}

.persona:before {
	content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: yellow;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -15px;
	margin-top: -15px;
	display: block;
	z-index: 2;
}

.persona:nth-of-type(2):before {
	background: #00287a;
}
.persona:nth-of-type(3):before {
	background: #551799;
}
.persona:nth-of-type(4):before {
	background: #ef8383;
}
.persona:nth-of-type(5):before {
	background: #339ca8;
}
.persona:nth-of-type(6):before {
	background: #ab3564;
}
.persona:nth-of-type(7):before {
	background: #00d0ba;
}
.persona:nth-of-type(8):before {
	background: #65cb76;
}
.persona:nth-of-type(9):before {
	background: #9c376f;
}
.persona:nth-of-type(10):before {
	background: #a26e56;
}
.persona:nth-of-type(11):before {
	background: #b96e74;
}
.persona:nth-of-type(12):before {
	background: #cfebed;
}
.persona:nth-of-type(13):before {
	background: #922097;
}
.persona:nth-of-type(14):before {
	background: #00c1a7;
}
.persona:nth-of-type(15):before {
	background: #f79014;
}
.persona:nth-of-type(16):before {
	background: #ef3d44;
}
.persona:nth-of-type(17):before {
	background: #5f3ca1;
}
.persona:nth-of-type(18):before {
	background: #ec748f;
}
.persona:nth-of-type(19):before {
	background: #00cbc7;
}
.persona:nth-of-type(20):before {
	background: #00a5ff;
}
.persona:nth-of-type(21):before {
	background: #c2849e;
}
.persona:nth-of-type(22):before {
	background: #006072;
}
.persona:nth-of-type(23):before {
	background: #ffb200;
}
.persona:nth-of-type(24):before {
	background: #b62815;
}
.persona:nth-of-type(25):before {
	background: #541063;
}

.constelacion {
	display: flex;
    flex-wrap: wrap;
    border-radius: 100%;
    width: 590px;
    height: 500px;
}

.constelacion.big {
	width: 800px;
}

.constelacion.mega-big {
	width: 1000px;
}

.conste-first-point {
	opacity: 0;
	left: -460px;
    position: absolute;
    top: -40px;
}

.conste-second-point {
	opacity: 0;
	left: -590px;
    position: absolute;
    top: -186px;
}

.conste-third-point {
	opacity: 0;
    left: -350px;
    position: absolute;
    top: -122px;
}

.conste-four-point {
	opacity: 0;
    left: -340px;
    position: absolute;
    top: 4px;
}

.conste-five-point {
	opacity: 0;
    left: -320px;
    position: absolute;
    top: -176px;
}

.conste-six-point {
	opacity: 0;
	left: -280px;
    position: absolute;
    top: -116px;
}

.conste-seven-point {
	opacity: 0;
	left: -260px;
    position: absolute;
    top: -16px;
}

.conste-eight-point {
	opacity: 0;
	left: -366px;
    position: absolute;
    top: -251px;
}

.conste-nine-point {
	opacity: 0;
    left: -316px;
    position: absolute;
    top: -100px;
}

.conste-ten-point {
	opacity: 0;
	left: -482px;
    position: absolute;
    top: -171px;
}

.conste-eleven-point {
	opacity: 0;
	left: 48px;
    position: absolute;
    top: 9px;
}

.conste-twelve-point {
	opacity: 0;
	left: 90px;
    position: absolute;
    top: -31px;
}

.conste-thirteen-point {
	opacity: 0;
	left: -240px;
    position: absolute;
    top: 9px;
}

.conste-forteen-point {
	opacity: 0;
	left: -240px;
    position: absolute;
    top: 9px;
}

.conste-fiveteen-point {
	opacity: 0;
    left: -470px;
    position: absolute;
    top: 9px;
}

.conste-sixteen-point {
	opacity: 0;
    left: -367px;
    position: absolute;
    top: -441px;
}

.conste-seventeen-point {
	opacity: 0;
	left: -457px;
    position: absolute;
    top: -401px;
}

.conste-eighteen-point {
	opacity: 0;
    left: -77px;
    position: absolute;
    top: -161px;
}

.conste-nineteen-point {
	opacity: 0;
    left: -100px;
    position: absolute;
    top: -161px;
}

.conste-twenty-point {
	opacity: 0;
    left: -140px;
    position: absolute;
    top: -191px;
}

.conste-twentyone-point {
	opacity: 0;
    left: -77px;
    position: absolute;
    top: -211px;
}

.conste-twentytwo-point {
	opacity: 0;
    left: -167px;
    position: absolute;
    top: -231px;
}

.conste-twentythree-point {
	opacity: 0;
    left: -437px;
    position: absolute;
    top: -411px;
}

.conste-twentyfour-point {
	opacity: 0;
    left: -437px;
    position: absolute;
    top: -411px;
}

.conste-twentyfive-point {
	opacity: 0;
    left: -207px;
    position: absolute;
    top: -111px;
}

.conste-twentysix-point {
	opacity: 0;
    left: -37px;
    position: absolute;
    top: -161px;
}

.conste-twentyseven-point {
	opacity: 0;
    left: -117px;
    position: absolute;
    top: -101px;
}

.conste-twentyeight-point {
	opacity: 0;
    left: -117px;
    position: absolute;
    top: -131px;
}

.cont-total-persona {
	background-color: white;
    color: #000000;
    position: absolute;
    top: 344px;
    left: -131px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    width: 250px;
	transition: 0.4s;
	opacity: 0;
}

.cont-total-persona::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 1;
    transition: 0.3s;
    bottom: 13px;
    border-top: 13px solid transparent;
    border-left: 13px solid white;
    border-bottom: 13px solid transparent;
    right: -13px;
}

.cont-total-persona  p {
	display: flex;
    flex-direction: column;
    border-right: 1px solid #f1f1f1;
    padding-right: 15px;
	font-size: 11px;
	text-align: center;
	margin: 0;
}

.cont-total-persona  p span {
	font-size: 20px;
    font-weight: 600;
    color: #f78e15;
}

.cont-total-persona  p:last-child {
	padding: 0;
	border: 0;
}

@media screen and (max-width: 55em) {
	.message {
		display: block;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 10000;
		display: block;
		padding: 0.85em 0.5em 2em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		padding-bottom: 0.25em;
		font-size: 1.5em;
		text-align: center;
	}
	.info {
		margin: 0;
		text-align: center;
	}
	.github {
		display: none;
	}
	.codrops-links {
		margin: 0;
	}
	.menu {
		font-size: 2.75em;
		margin: 0 auto;
		align-items: center;
	}
	.content__inner {
		margin-top: 12em;
	}
	.content__close {
		top: 15em;
	}
}
